<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <h1>test text</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, vel. Id doloremque facilis
          vero distinctio, quisquam nihil officia aut quia vitae corporis sapiente aspernatur neque
          veritatis commodi a quo voluptatum.
        </p>
      </div>
    </section>
  </body>
</html>
