<div class="container">
  <!-- <div class="products"> -->
    <p class="products__title-text">100% natural</p>
  <h2 class="products__title">products</h2>
<!-- </div> -->
  
  <ul class="products__list">
    <li class="products__item accent--pink">
      <picture>
        <source
        
        srcset="
        ../../images/img/p1-desk_1x.png 1x,
        ../../images/img/p1-desk_2x.png 2x
    "
       media="(min-width: 1280px)" 
        />
      </picture>
      <h3 class="products__item-title">ice cream</h3>
      <ul class="products-icon">
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
    </ul>
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn">
        
      </button>
    </li>
    
    <li class="products__item accent--caramel">
      <h3 class="products__item-title">ice coffee</h3>
      <ul class="products-icon">
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
    </ul>
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn"></button>
    </li>
    
    <li class="products__item accent--green">
      <h3 class="products__item-title">milkshakes</h3>
      <ul class="products-icon">
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
        <li class="products-icon_item"></li>
    </ul>
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn">

      </button>
    </li>
  </ul>
  
  </div>
  
